html, body {
  height: 100%;
}
body{
  background-color: black;
  background-image: -webkit-radial-gradient(center center, circle cover, rgba(255,255,355, 0.2), transparent 50%)
    ,-webkit-radial-gradient(center center, circle cover, rgba(248,23,255, 0.2), transparent 50%);

  background-size: 5px 5px, 100% 100%;
}

#woof{
  padding-left: 39%;
  color: rgb(255, 0, 255);
  font-family: 'Chango', cursive;
  font-size: 66px;
  font-style: italic;
  opacity: .8;
  text-decoration: none;
}



#navbar{
  position: absolute;
  z-index: 100;
  height: 50px;
  font-family: 'Chango', cursive;
  text-transform: lowercase;
  font-size: 30px;
  line-height: 50px;
  padding-left: 25%;

}

p {
  text-align: center;
  color: rgb(255, 0, 255);
  opacity: .9;
  font-size: 20px;
  padding-bottom: 40px;
}


#navbar a{
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding: 10px;  
  color: white;
  opacity: .75;
}

#navbar a:hover {
  color: rgb(153, 255, 255);
  opacity: .75;
}

.album {
  height: 600px;
  width: 600px;
  margin-top: 150px;
  margin-left: 30%;
}
#photos {
    width:100%;
    margin-top:250px;
    padding-left: 1%;
    padding-right: 1%;
}


.thumbnail {
    width:169px;
    height: 169px;
    cursor: pointer;
    cursor: hand;
    opacity: 0.5;
    padding: 2px;
}

#lightbox {
    display:none;
    z-index: 1;
    background-color: white;
    position: absolute;
    top: 0;
    height:100%;
    width:100%;
    opacity: 0.75;
}

.big {
    z-index: 10;
    position: absolute;
    top:30%;
    left:25%;

}

#music {
  margin-top: 150px;
  margin-bottom: 40px;
  padding-left: 465px

}

#videos {
   margin-top: 150px;
   margin-left: 420px;
   margin-bottom: 40px;
   position: relative;
}

iframe {
  padding: 20px;
  background-color: white;
}

.cloud {
  padding: 10px;
}



